/* Estilo para el cuerpo del documento */
body {
    padding: 5px;
    margin: 0;
    font-family: Verdana, sans-serif;
    flex-direction: column;
    min-height: 100px;
}

/* Estilo para el encabezado */
.encabezado {
    background-color: #08c3f1;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: Verdana;
    padding: 10px 0;
}

/* Estilo para los menues */
.selecciona {
    background-color: #FAFAFA;
    width: 100%;
    font-family: Verdana;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.selecciona a {
    text-decoration: none; /* Elimina el subrayado de ChangoNapa */
}

/* Estilo para el ChangoNapa */
.logo {
    color: #5C6AC4;
    margin: 0 20px;
    cursor: pointer;
}

/* Estilo para los botones de productos y formulario */
.productos, .formulario {
    background-color: #08c3f1;
    padding: 10px 20px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

/* Estilo para el contenedor de ofertas */
.ofertas{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
/* Estilo para los elementos parrafos */
.ofertas,p{
    text-align: center;
}

/* Estilos para los elementos activos */
.productos.active, .formulario.active, .logo.active {
    background-color: #17ecda;
}

/* Estilo para el pie de página */
footer {
    background-color: #08c3f1;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    height: 20px;
}