body {
    padding: 5px;
    margin: 0;
    font-family: Verdana, sans-serif;
}
/* Estilo para el encabezado */
.encabezado {
    background-color: #08c3f1;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: Verdana;
    padding: 10px 0;
}

/* Estilo para los menues */
.selecciona {
    background-color: #FAFAFA;
    width: 100%;
    font-family: Verdana;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.selecciona a {
    text-decoration: none; /* Elimina el subrayado de ChangoNapa */
}

/* Estilo para el ChangoNapa */
.logo {
    color: #5C6AC4;
    margin: 0 20px;
    cursor: pointer;
}

/* Estilo para los botones de productos y formulario */
.productos, .formulario {
    background-color: #08c3f1;
    padding: 10px 20px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

/* Estilos para los elementos activos */
.productos.active, .formulario.active, .logo.active {
    background-color: #17ecda;
}

/* Estilos para el titulo */
h1 {
    text-align: center;
    color: #5C6AC4;
    margin-bottom: 20px;
}

/* Estilos para el boton comprar */
Button {
    background-color: #08c3f1;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

/* Estilos para cuando se pasa por encima al boton comprar */
button:hover {
    background-color: #17ecda;
}

/* Estilo para el pie de página */
footer {
    background-color: #08c3f1;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    height: 20px;
}

#productos-container{
    display: flex;
    justify-content: space-around;
    align-items: column;
}

#nombreProduc{
    color: #5C6AC4;
}