/* Estilo para el cuerpo del documento */
body {
    padding: 5px;
    margin: 0;
    font-family: Verdana, sans-serif;
    flex-direction: column;
    min-height: 100px;
}


/* Estilo para el encabezado */
.encabezado {
    background-color: #08c3f1;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: Verdana;
    padding: 10px 0;
}

/* Estilo para los menues */
.selecciona {
    background-color: #FAFAFA;
    width: 100%;
    height: 60px;
    font-family: Verdana;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.selecciona a {
    text-decoration: none; /* Elimina el subrayado de ChangoNapa */
    font-size: 30px;
}

.selecciona button{
    font-size: 20px;
}


/* Estilo para el ChangoNapa */
.logo {
    color: #5C6AC4;
    margin: 0 20px;
    cursor: pointer;
}

/* Estilo para los botones de productos y formulario */
.productos, .formulario {
    background-color: #08c3f1;
    padding: 10px 20px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

/* Estilos para los elementos activos */
.productos.active, .formulario.active, .logo.active {
    background-color: #17ecda;
}

/* Estilos para el titulo */
h1 {
    text-align: center;
    color: #5C6AC4;
    margin-bottom: 20px;
}

/* Estilos para el boton comprar */
Button {
    background-color: #08c3f1;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

/* Estilos para cuando se pasa por encima al boton comprar */
button:hover {
    background-color: #17ecda;
}

/* Estilo para el pie de página */
footer {
    background-color: #08c3f1;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    height: 20px;
}

#product-container{
    display: flex;
    justify-content: space-around;
    align-items: column;
    flex-wrap: wrap; /*Permite que los elementos se acomoden en el ancho y caigan a la sig linea */
}

#nameProduct{
    color: #5C6AC4;
    font-size: medium;
}

#error {
    color: red;
    text-align: center;
    margin-top: 20px;
}

#total {
    color: #5C6AC4;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

#totalVacio {
    color: red;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

/*Estilo para el contenedor de producto */
.product {
    background-color: #77a8bb;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin-top: 10px;
}

/* Estilo para el campo de cantidad */
.quantity {
    width: 50px;
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    align-self: center;
}

/* Ajusta el tamaño de las imagenes de los productos */
.product img {
    max-width: 100px; 
    height: auto; 
    margin: auto;
}